body{
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main-color {
    background-color: !important rgb(83, 72, 60);
}

.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.hovered-card{
    transition: 0.3s;
}

.hovered-card:hover{
    transform: scale(1.1);
}

.icon-service{
    width: 90px;
    height: 90px;
    border: solid white 2px;
    border-radius: 50%;
    color: white;
}

.content-subscribe{
    background-color:steelblue ;
}

.banner-produk{
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner-promo{
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}
